html {
  background: #000000; /*linear-gradient(to bottom right, #01cdfe, #05ffa1);*/
}

body {
  /*background: #333;*/
  padding-top: 20%;
  display: flex;
  justify-content: center;
}

.main-container {
  text-align: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #20C20E;
  font-size: 64px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .3em solid #20C20E; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(28, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #20C20E }
}
